# <img style="float: left; padding-right: 10px; width: 200px" src="https://raw.githubusercontent.com/trivikverma/researchgroup/master/assets/media/logo.png"> EPA-1316 Introduction to *Urban* Data Science 


## Assignment 1: Data Collection and Wrangling

**TU Delft**<br>
**Q1 2021**<br>
**Instructor:** Trivik Verma <br>
**TAs:**  Auriane Técourt, Luka Janssens, Marya El Malki, Mobeen Nawaz, Stephan Olde, Ruth Nelson, Juliana Gonçalves 
<br>
<br>
**Assignment done by:** Raquel Romão, student number 5629608

**[Centre for Urban Science & Policy]( https://cusp.tbm.tudelft.nl/)**<br>

---

# ``Introduction``

In this assignment I worked with the dataset provenient from the World Development Indicators database, bearing in mind the hypothesis that the access to safe water could be predicted by analyzing certain indicators (as explained later in this file).

Therefore, similarly to what was stated in the assignment, I divided the solution of this first assignment in 4 tasks:

1. Reading and Summarizing the Data.
2. Subsetting the Data.
3. Manage Missing Data.
4. Shape the Data.
5. Saving the Results.

<br/>

***

# ``Task 1: Downloading the Data``

First, I imported the libraries that I would use.

In [2]:
import os             
import pandas as pd
import numpy as np

I then loaded the `WDIData.csv` file into Python and saved its data as **`df`**.

In [3]:
d = 'data/WDIData.csv'

df = pd.read_csv(d)

To look at the first and last 5 rows I resorted to the panda functions `head()` and `tail()`.

In [4]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.320475,16.643243,16.994695,17.313168,17.604950,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.224027,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN,NaN
2,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.525353,19.461383,17.790698,16.553470,23.907897,24.624725,26.813900,28.841150,NaN,NaN
3,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.303599,66.496010,65.828988,66.926692,68.722184,71.085418,71.994933,73.589886,NaN,NaN
4,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
383833,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.5,NaN,NaN,NaN,NaN,NaN,NaN
383834,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.7,NaN,NaN,NaN,5.4,NaN,NaN
383835,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33.5,32.4,NaN,NaN,NaN,33.7,NaN,NaN
383836,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.2,59.3,59.4,59.4,59.5,59.5,59.6,59.6,NaN,NaN
383837,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,21000.0,20000.0,19000.0,18000.0,16000.0,15000.0,13000.0,13000.0,NaN,NaN

Afterwards, I explored further the data and extrated different information about it:

* general info;

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383838 entries, 0 to 383837
Data columns (total 66 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    383838 non-null  object
 1   Country Code    383838 non-null  object
 2   Indicator Name  383838 non-null  object
 3   Indicator Code  383838 non-null  object
 4   1960            37536 non-null   float64
 5   1961            42463 non-null   float64
 6   1962            44707 non-null   float64
 7   1963            44547 non-null   float64
 8   1964            45099 non-null   float64
 9   1965            47298 non-null   float64
 10  1966            47382 non-null   float64
 11  1967            49106 non-null   float64
 12  1968            48667 non-null   float64
 13  1969            50503 non-null   float64
 14  1970            69181 non-null   float64
 15  1971            76156 non-null   float64
 16  1972            79269 non-null   float64
 17  1973            78763 non-null   float64
 18  1974            80278 non-null   float64
 19  1975            83975 non-null   float64
 20  1976            86304 non-null   float64
 21  1977            90290 non-null   float64
 22  1978            89876 non-null   float64
 23  1979            90731 non-null   float64
 24  1980            95678 non-null   float64
 25  1981            98050 non-null   float64
 26  1982            99781 non-null   float64
 27  1983            99286 non-null   float64
 28  1984            100043 non-null  float64
 29  1985            101417 non-null  float64
 30  1986            102263 non-null  float64
 31  1987            103903 non-null  float64
 32  1988            102368 non-null  float64
 33  1989            104238 non-null  float64
 34  1990            126918 non-null  float64
 35  1991            134287 non-null  float64
 36  1992            139382 non-null  float64
 37  1993            139959 non-null  float64
 38  1994            142253 non-null  float64
 39  1995            150011 non-null  float64
 40  1996            149842 non-null  float64
 41  1997            152161 non-null  float64
 42  1998            153326 non-null  float64
 43  1999            158907 non-null  float64
 44  2000            184318 non-null  float64
 45  2001            178666 non-null  float64
 46  2002            184113 non-null  float64
 47  2003            183816 non-null  float64
 48  2004            189339 non-null  float64
 49  2005            200165 non-null  float64
 50  2006            200862 non-null  float64
 51  2007            206106 non-null  float64
 52  2008            203842 non-null  float64
 53  2009            205015 non-null  float64
 54  2010            218835 non-null  float64
 55  2011            210993 non-null  float64
 56  2012            215533 non-null  float64
 57  2013            209665 non-null  float64
 58  2014            216942 non-null  float64
 59  2015            211443 non-null  float64
 60  2016            211302 non-null  float64
 61  2017            207552 non-null  float64
 62  2018            197315 non-null  float64
 63  2019            163536 non-null  float64
 64  2020            61930 non-null   float64
 65  Unnamed: 65     0 non-null       float64
dtypes: float64(62), object(4)
memory usage: 193.3+ MB

* the data type of each column;

In [7]:
df.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2017              float64
2018              float64
2019              float64
2020              float64
Unnamed: 65       float64
Length: 66, dtype: object

* the Dataframe's shape (number of rows and columns);

In [8]:
print(df.shape) #output =(number of rows, number of columns)

(383838, 66)

In [9]:
len(df) #number of rows

383838

In [10]:
len(df.columns) #number of columns

66

* the names of the columns;

In [11]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

I decided to rename the first 4 columns, since it would make it easier to access them.

In [12]:
df=df.rename(columns={'Country Name': 'country_name'})
df=df.rename(columns={'Country Code': 'country_code'})
df=df.rename(columns={'Indicator Name': 'indicator_name'})
df=df.rename(columns={'Indicator Code': 'indicator_code'})

Finally, using the functions `describe()` and `unique()` I came to other conclusions:

In [13]:
df.country_name.describe()

count        383838
unique          266
top       Mauritius
freq           1443
Name: country_name, dtype: object

In [14]:
df.indicator_name.describe()

count                                            383838
unique                                             1443
top       Customs and other import duties (current LCU)
freq                                                266
Name: indicator_name, dtype: object

* how many unique regions/countries are in the data;

In [15]:
len(df.country_code.unique())

266

* how many unique national indicators are in the data.

In [16]:
len(df.indicator_code.unique())

1443

<br/>

***

# ``Task 2: Subsetting the Data``




To subset the data, I beared in mind the hypothesis stated bellow.




```text

My hypothesis and thinking process


At first, I chose to analyze if, by looking to the 2020 data for every country, it would be possible to predict which countries would have a higher percentage of its population vaccinated against Covid-19. Taking this into account, I wanted to control for the wealth, level of education, health expenditure and science level/research expenditure of each country. However, after selecting the variables and analyzing the data, I came to the conclusion that there was too many missing data (around 800, out of about 1000 entries - I opted not to show this analysis) for me to manage it and do an analysis that I would be satisfied with. Therefore, I decided to change my line of though and hypothesize something simpler. Hence, I settled on predicting which countries are more/less likely to have access to safe drinking water. 

Unsafe water is one of the world’s largest health and environmental problems – particularly for the poorest in the world. Providing it requires management efforts and many costs, that was why I hypothesized that wealthier countries (with a higher GDP) would have more access to it. As it is available in this website [1]: "Despite the variable contexts in different countries, the common predictors of access to clean water and sanitation are income, education and geographical location"; which is in agreement with my hypothesis that, naturally, the countries with a lower level of education have less access to save water (that is, the countries with more adolescents out of school - I tried to look for other indicators to measure the education and this appeared to be the one with the least missing values). Furthermore, the infrastructural challenges of developing municipal water networks in rural areas is also likely to play an important role in lower access levels relative to urbanized populations, therefore I also chose to control for the rural land area, hypothesizing that countries with a bigger rural land area would have less access to water. Finally, I controlled for other variables directly related to the consumption of safe drinking water: on one hand, I hypothesized that the higher the mortality rate attributed to unsafe water was, the lower the access to safe water would be; on the other hand, I chose to select the variable that takes into account how many people use drinking water services. Lastly, it is to expect that countries with less access to safe drinking water, would have a lower life expectancy, that is why I also chose to control for this variable.


My choice of variables were, 

| Variable Name                                                                        | Variable Code     |
| ------------------------------------------------------------------------------------ | ----------------- |
| GDP (current US$)                                                                    | NY.GDP.MKTP.CD    |
| Adolescents out of school (% of lower secondary school age)                          | SE.SEC.UNER.LO.ZS |
| Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene*    | SH.STA.WASH.P5    |
| People using at least basic drinking water services (% of population)                | SH.H2O.BASW.ZS    |
| Life expectancy at birth, total (years)                                              | SP.DYN.LE00.IN    |
| Rural land area (sq. km)                                                             | AG.LND.TOTL.RU.K2 |


*per 100,000 population.


```
[1] **[Website with informations about water access](https://ourworldindata.org/water-access)** 


<br>

To chose my variables of interest, I started by trying to look for the variables that would fit better my hypothesis by searching, using specific keywords, in the list of all the unique indicators names.

In [17]:
indicators=df.indicator_name.unique()

In [18]:
[name for name in indicators if "GDP" in name]

['Agriculture, forestry, and fishing, value added (% of GDP)',
 'Broad money (% of GDP)',
 'Central government debt, total (% of GDP)',
 'Claims on central government, etc. (% GDP)',
 'Claims on other sectors of the domestic economy (% of GDP)',
 'CO2 emissions (kg per 2010 US$ of GDP)',
 'CO2 emissions (kg per 2017 PPP $ of GDP)',
 'CO2 emissions (kg per PPP $ of GDP)',
 'Coal rents (% of GDP)',
 'Current account balance (% of GDP)',
 'Current health expenditure (% of GDP)',
 'Discrepancy in expenditure estimate of GDP (constant LCU)',
 'Discrepancy in expenditure estimate of GDP (current LCU)',
 'Domestic credit provided by financial sector (% of GDP)',
 'Domestic credit to private sector (% of GDP)',
 'Domestic credit to private sector by banks (% of GDP)',
 'Domestic general government health expenditure (% of GDP)',
 'Energy intensity level of primary energy (MJ/$2011 PPP GDP)',
 'Energy use (kg of oil equivalent) per $1,000 GDP (constant 2017 PPP)',
 'Expense (% of GDP)',
 'Exports of goods and services (% of GDP)',
 'External balance on goods and services (% of GDP)',
 'Final consumption expenditure (% of GDP)',
 'Foreign direct investment, net inflows (% of GDP)',
 'Foreign direct investment, net outflows (% of GDP)',
 'Forest rents (% of GDP)',
 'GDP (constant 2010 US$)',
 'GDP (constant LCU)',
 'GDP (current LCU)',
 'GDP (current US$)',
 'GDP deflator (base year varies by country)',
 'GDP deflator: linked series (base year varies by country)',
 'GDP growth (annual %)',
 'GDP per capita (constant 2010 US$)',
 'GDP per capita (constant LCU)',
 'GDP per capita (current LCU)',
 'GDP per capita (current US$)',
 'GDP per capita growth (annual %)',
 'GDP per capita, PPP (constant 2017 international $)',
 'GDP per capita, PPP (current international $)',
 'GDP per person employed (constant 2017 PPP $)',
 'GDP per unit of energy use (constant 2017 PPP $ per kg of oil equivalent)',
 'GDP per unit of energy use (PPP $ per kg of oil equivalent)',
 'GDP, PPP (constant 2017 international $)',
 'GDP, PPP (current international $)',
 'GDP: linked series (current LCU)',
 'General government final consumption expenditure (% of GDP)',
 'Government expenditure on education, total (% of GDP)',
 'Government expenditure per student, primary (% of GDP per capita)',
 'Government expenditure per student, secondary (% of GDP per capita)',
 'Government expenditure per student, tertiary (% of GDP per capita)',
 'Gross capital formation (% of GDP)',
 'Gross domestic savings (% of GDP)',
 'Gross fixed capital formation (% of GDP)',
 'Gross fixed capital formation, private sector (% of GDP)',
 'Gross national expenditure (% of GDP)',
 'Gross savings (% of GDP)',
 'Households and NPISHs final consumption expenditure (% of GDP)',
 'Imports of goods and services (% of GDP)',
 'Industry (including construction), value added (% of GDP)',
 'Inflation, GDP deflator (annual %)',
 'Inflation, GDP deflator: linked series (annual %)',
 'Manufacturing, value added (% of GDP)',
 'Market capitalization of listed domestic companies (% of GDP)',
 'Merchandise trade (% of GDP)',
 'Military expenditure (% of GDP)',
 'Mineral rents (% of GDP)',
 'Monetary Sector credit to private sector (% GDP)',
 'Natural gas rents (% of GDP)',
 'Net acquisition of financial assets (% of GDP)',
 'Net incurrence of liabilities, total (% of GDP)',
 'Net investment in nonfinancial assets (% of GDP)',
 'Net lending (+) / net borrowing (-) (% of GDP)',
 'Oil rents (% of GDP)',
 'Personal remittances, received (% of GDP)',
 'PPP conversion factor, GDP (LCU per international $)',
 'Price level ratio of PPP conversion factor (GDP) to market exchange rate',
 'Research and development expenditure (% of GDP)',
 'Revenue, excluding grants (% of GDP)',
 'Services, value added (% of GDP)',
 'Stocks traded, total value (% of GDP)',
 'Tax revenue (% of GDP)',
 'Total natural resources rents (% of GDP)',
 'Trade (% of GDP)',
 'Trade in services (% of GDP)',
 'Water productivity, total (constant 2010 US$ GDP per cubic meter of total freshwater withdrawal)']

In [19]:
[name for name in indicators if "school" in name]

['Adjusted net enrollment rate, primary (% of primary school age children)',
 'Adjusted net enrollment rate, primary, female (% of primary school age children)',
 'Adjusted net enrollment rate, primary, male (% of primary school age children)',
 'Adolescents out of school (% of lower secondary school age)',
 'Adolescents out of school, female (% of female lower secondary school age)',
 'Adolescents out of school, male (% of male lower secondary school age)',
 'Children out of school (% of primary school age)',
 'Children out of school, female (% of female primary school age)',
 'Children out of school, male (% of male primary school age)',
 'Children out of school, primary',
 'Children out of school, primary, female',
 'Children out of school, primary, male',
 'Lower secondary school starting age (years)',
 'Net intake rate in grade 1 (% of official school-age population)',
 'Net intake rate in grade 1, female (% of official school-age population)',
 'Net intake rate in grade 1, male (% of official school-age population)',
 'Primary school starting age (years)',
 'Progression to secondary school (%)',
 'Progression to secondary school, female (%)',
 'Progression to secondary school, male (%)']

In [20]:
[name for name in indicators if "water" in name]

['Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)',
 'Annual freshwater withdrawals, domestic (% of total freshwater withdrawal)',
 'Annual freshwater withdrawals, industry (% of total freshwater withdrawal)',
 'Annual freshwater withdrawals, total (% of internal resources)',
 'Annual freshwater withdrawals, total (billion cubic meters)',
 'Investment in water and sanitation with private participation (current US$)',
 'Level of water stress: freshwater withdrawal as a proportion of available freshwater resources',
 'Marine protected areas (% of territorial waters)',
 'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)',
 'People using at least basic drinking water services (% of population)',
 'People using at least basic drinking water services, rural (% of rural population)',
 'People using at least basic drinking water services, urban (% of urban population)',
 'People using safely managed drinking water services (% of population)',
 'People using safely managed drinking water services, rural (% of rural population)',
 'People using safely managed drinking water services, urban (% of urban population)',
 'People with basic handwashing facilities including soap and water (% of population)',
 'People with basic handwashing facilities including soap and water, rural (% of rural population)',
 'People with basic handwashing facilities including soap and water, urban (% of urban population)',
 'Public private partnerships investment in water and sanitation (current US$)',
 'Renewable internal freshwater resources per capita (cubic meters)',
 'Renewable internal freshwater resources, total (billion cubic meters)',
 'Water productivity, total (constant 2010 US$ GDP per cubic meter of total freshwater withdrawal)']

In [21]:
[name for name in indicators if "expectancy" in name]

['Life expectancy at birth, female (years)',
 'Life expectancy at birth, male (years)',
 'Life expectancy at birth, total (years)']

In [22]:
[name for name in indicators if "land area" in name]

['Agricultural land (% of land area)',
 'Arable land (% of land area)',
 'Forest area (% of land area)',
 'Land area where elevation is below 5 meters (% of total land area)',
 'Permanent cropland (% of land area)',
 'Population density (people per sq. km of land area)',
 'Rural land area (sq. km)',
 'Rural land area where elevation is below 5 meters (% of total land area)',
 'Rural land area where elevation is below 5 meters (sq. km)',
 'Terrestrial protected areas (% of total land area)',
 'Urban land area (sq. km)',
 'Urban land area where elevation is below 5 meters (% of total land area)',
 'Urban land area where elevation is below 5 meters (sq. km)']

After selecting my variables, I created a list with their indexes:

In [23]:
index = df.index
variable_indice=0
variables_indices_list=[]
selected_variables=["GDP (current US$)","Adolescents out of school (% of lower secondary school age)","Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)", "People using at least basic drinking water services (% of population)", "Life expectancy at birth, total (years)", "Rural land area (sq. km)"]

for variable in selected_variables:
    
    condition = (df["indicator_name"] == variable)

    variable_indice = index[condition]

    variables_indices_list = variables_indices_list + variable_indice.tolist()

...which made it possible to get another list with their codes:

In [24]:
variables=[]

for index in variables_indices_list:
    variables=variables + [df.indicator_code.iloc[index]]
    
variables=np.unique(variables)
variables

array(['AG.LND.TOTL.RU.K2', 'NY.GDP.MKTP.CD', 'SE.SEC.UNER.LO.ZS',
       'SH.H2O.BASW.ZS', 'SH.STA.WASH.P5', 'SP.DYN.LE00.IN'], dtype='<U17')

Then, I was able to reduce the data frame, use `head()` and show some other statitics such as number or rows, columns, names of variables and unique countries:

In [25]:
#subset the data by creating a new dataframe only with my variables

subset=df.loc[df.indicator_code.isin(variables)]
subset

,country_name,country_code,indicator_name,indicator_code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
49,Africa Eastern and Southern,AFE,Adolescents out of school (% of lower secondar...,SE.SEC.UNER.LO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.929193e+10,1.970186e+10,2.147035e+10,2.570500e+10,2.350165e+10,2.678117e+10,...,9.131974e+11,9.276555e+11,9.563187e+11,8.930997e+11,8.547519e+11,9.622690e+11,9.840320e+11,9.778092e+11,8.984741e+11,NaN
696,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,4.271605e+01,4.316694e+01,4.360399e+01,4.402562e+01,4.443272e+01,4.482692e+01,...,6.018556e+01,6.095336e+01,6.164737e+01,6.225929e+01,6.278768e+01,6.324626e+01,6.364899e+01,6.400520e+01,NaN,NaN
788,Africa Eastern and Southern,AFE,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.941944e+01,NaN,NaN,NaN,NaN,NaN
959,Africa Eastern and Southern,AFE,People using at least basic drinking water ser...,SH.H2O.BASW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.152585e+01,5.245538e+01,5.338135e+01,5.430405e+01,5.521221e+01,5.602001e+01,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382861,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.901533e+10,1.952362e+10,1.693243e+10,1.676851e+10,NaN
383091,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,5.301900e+01,5.348300e+01,5.394600e+01,5.440300e+01,5.484900e+01,5.527400e+01,...,5.503200e+01,5.689700e+01,5.841000e+01,5.953400e+01,6.029400e+01,6.081200e+01,6.119500e+01,6.149000e+01,NaN,NaN
383183,Zimbabwe,ZWE,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.460000e+01,NaN,NaN,NaN,NaN,NaN
383354,Zimbabwe,ZWE,People using at least basic drinking water ser...,SH.H2O.BASW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.648726e+01,6.597417e+01,6.547338e+01,6.498583e+01,6.451162e+01,6.405123e+01,NaN,NaN,NaN,NaN
383583,Zimbabwe,ZWE,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
#to find the index no of relevant columns and store them in a variable

col_name =["country_name", "country_code", "indicator_name", "indicator_code", "2016"]
colindex_no=[]
for name in col_name:
    colindex_no = colindex_no +[df.columns.get_loc(name)]
colindex_no

[0, 1, 2, 3, 60]

In [27]:
subset_2016=subset[col_name]
subset_2016.head()

,country_name,country_code,indicator_name,indicator_code,2016
49,Africa Eastern and Southern,AFE,Adolescents out of school (% of lower secondar...,SE.SEC.UNER.LO.ZS,NaN
466,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,8.547519e+11
696,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,6.278768e+01
788,Africa Eastern and Southern,AFE,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,3.941944e+01
959,Africa Eastern and Southern,AFE,People using at least basic drinking water ser...,SH.H2O.BASW.ZS,5.521221e+01

In [28]:
subset_2016.shape

(1596, 5)

In [29]:
subset_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1596 entries, 49 to 383583
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    1596 non-null   object
 1   country_code    1596 non-null   object
 2   indicator_name  1596 non-null   object
 3   indicator_code  1596 non-null   object
 4   2016            1143 non-null   float64
dtypes: float64(1), object(4)
memory usage: 74.8+ KB

In [30]:
subset_2016.describe()

               2016
count  1.143000e+03
mean   5.490334e+11
std    4.063797e+12
min    5.647000e-02
25%    1.752264e+01
50%    7.475561e+01
75%    1.000000e+02
max    7.641725e+13

In [31]:
subset_2016.country_name.unique()

array(['Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

<br/>

***

# ``Task 3: Manage Missing Data``

To deal with the missing data, I mainly opted to:

1. Dropping off cases (or rows) in the data with missing variables
2. Excluding variables in the data with any missing data (and even excluding completely my first hypothesis)
3. Selectively choosing indicators with only a limited amount of missing data

After testing various years, I chose to go with 2016 for the year to subset the data, once it was for this one that all the indicators simultaneously appeared to have the least missing values.

Next, I tried to get a sense of how many missing values there are in the subseted dataframe for each column:

In [32]:
print(np.sum([subset_2016.country_name.isnull()]))
print(np.sum([subset_2016.country_code.isnull()]))
print(np.sum([subset_2016.indicator_name.isnull()]))
print(np.sum([subset_2016.indicator_code.isnull()]))
print(np.sum([subset_2016.get("2016").isnull()]))

0
0
0
0
453

Afterwards, I attempted to located where the missing values occur and get their index:

In [33]:
missing_values=subset_2016[subset_2016.get('2016').isnull()]

missing_values

,country_name,country_code,indicator_name,indicator_code,2016
49,Africa Eastern and Southern,AFE,Adolescents out of school (% of lower secondar...,SE.SEC.UNER.LO.ZS,NaN
1188,Africa Eastern and Southern,AFE,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN
1492,Africa Western and Central,AFW,Adolescents out of school (% of lower secondar...,SE.SEC.UNER.LO.ZS,NaN
2631,Africa Western and Central,AFW,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN
4074,Arab World,ARB,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN
...,...,...,...,...,...
380697,"Yemen, Rep.",YEM,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN
381001,Zambia,ZMB,Adolescents out of school (% of lower secondar...,SE.SEC.UNER.LO.ZS,NaN
382140,Zambia,ZMB,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN
382444,Zimbabwe,ZWE,Adolescents out of school (% of lower secondar...,SE.SEC.UNER.LO.ZS,NaN
383583,Zimbabwe,ZWE,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN

In [34]:
indexNaN = missing_values.index
indexNaN

Int64Index([    49,   1188,   1492,   2631,   4074,   5517,   6960,   8403,
              9846,  11289,
            ...
            376672, 377411, 377811, 378854, 379254, 380697, 381001, 382140,
            382444, 383583],
           dtype='int64', length=453)

In [35]:
missing_values.indicator_name.value_counts()

Rural land area (sq. km)                                                                                     266
Adolescents out of school (% of lower secondary school age)                                                  118
Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)     35
Life expectancy at birth, total (years)                                                                       17
GDP (current US$)                                                                                             12
People using at least basic drinking water services (% of population)                                          5
Name: indicator_name, dtype: int64

After counting the missing values for each indicator, I concluded that most of the NaN values occur for the indicators:

* "Rural land area (sq. km)"
* "Adolescents out of school (% of lower secondary school age)".

That is why I chose to drop off those cases from the dataset. I did it by getting their indexes and aply the function `drop()`.

In [36]:
indexes_todrop1=missing_values[missing_values['indicator_name']=='Rural land area (sq. km)'].index.values
print(indexes_todrop1)

[  1188   2631   4074   5517   6960   8403   9846  11289  12732  14175
  15618  17061  18504  19947  21390  22833  24276  25719  27162  28605
  30048  31491  32934  34377  35820  37263  38706  40149  41592  43035
  44478  45921  47364  48807  50250  51693  53136  54579  56022  57465
  58908  60351  61794  63237  64680  66123  67566  69009  70452  71895
  73338  74781  76224  77667  79110  80553  81996  83439  84882  86325
  87768  89211  90654  92097  93540  94983  96426  97869  99312 100755
 102198 103641 105084 106527 107970 109413 110856 112299 113742 115185
 116628 118071 119514 120957 122400 123843 125286 126729 128172 129615
 131058 132501 133944 135387 136830 138273 139716 141159 142602 144045
 145488 146931 148374 149817 151260 152703 154146 155589 157032 158475
 159918 161361 162804 164247 165690 167133 168576 170019 171462 172905
 174348 175791 177234 178677 180120 181563 183006 184449 185892 187335
 188778 190221 191664 193107 194550 195993 197436 198879 200322 201765
 203208 204651 206094 207537 208980 210423 211866 213309 214752 216195
 217638 219081 220524 221967 223410 224853 226296 227739 229182 230625
 232068 233511 234954 236397 237840 239283 240726 242169 243612 245055
 246498 247941 249384 250827 252270 253713 255156 256599 258042 259485
 260928 262371 263814 265257 266700 268143 269586 271029 272472 273915
 275358 276801 278244 279687 281130 282573 284016 285459 286902 288345
 289788 291231 292674 294117 295560 297003 298446 299889 301332 302775
 304218 305661 307104 308547 309990 311433 312876 314319 315762 317205
 318648 320091 321534 322977 324420 325863 327306 328749 330192 331635
 333078 334521 335964 337407 338850 340293 341736 343179 344622 346065
 347508 348951 350394 351837 353280 354723 356166 357609 359052 360495
 361938 363381 364824 366267 367710 369153 370596 372039 373482 374925
 376368 377811 379254 380697 382140 383583]

In [37]:
clean_df=subset_2016.drop(indexes_todrop1)
clean_df.head()

,country_name,country_code,indicator_name,indicator_code,2016
49,Africa Eastern and Southern,AFE,Adolescents out of school (% of lower secondar...,SE.SEC.UNER.LO.ZS,NaN
466,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,8.547519e+11
696,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,6.278768e+01
788,Africa Eastern and Southern,AFE,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,3.941944e+01
959,Africa Eastern and Southern,AFE,People using at least basic drinking water ser...,SH.H2O.BASW.ZS,5.521221e+01

In [38]:
indexes_todrop2=missing_values[missing_values['indicator_name']=='Adolescents out of school (% of lower secondary school age)'].index.values
print(indexes_todrop2)

index_todrop2=[i for i in indexes_todrop2 if i not in indexes_todrop1] #to exclude the indexes that already have been droped

[    49   1492  30352  50554  54883  70756  73642  75085  76528  77971
  79414  83743  92401  99616 101059 105388 106831 108274 111160 115489
 118375 121261 122704 124147 127033 129919 132805 134248 135691 142906
 148678 150121 157336 158779 161665 163108 164551 165994 170323 171766
 173209 181867 183310 184753 187639 189082 190525 191968 199183 200626
 203512 206398 207841 212170 213613 215056 216499 217942 219385 220828
 222271 223714 229486 232372 233815 241030 245359 255460 258346 259789
 262675 264118 265561 267004 272776 275662 278548 279991 281434 285763
 287206 288649 291535 304522 305965 307408 308851 311737 314623 316066
 318952 323281 324724 326167 327610 330496 331939 334825 337711 339154
 340597 343483 344926 347812 350698 352141 353584 355027 357913 359356
 362242 363685 366571 372343 375229 376672 381001 382444]

In [39]:
clean_df2=clean_df.drop(index_todrop2)
clean_df2.head()

,country_name,country_code,indicator_name,indicator_code,2016
466,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,8.547519e+11
696,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,6.278768e+01
788,Africa Eastern and Southern,AFE,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,3.941944e+01
959,Africa Eastern and Southern,AFE,People using at least basic drinking water ser...,SH.H2O.BASW.ZS,5.521221e+01
1909,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,6.874847e+11

I also tried to get a sense of how many missing values remained for each country:

In [40]:
new_missing_values=clean_df2[clean_df2.get('2016').isnull()]
new_missing_values

,country_name,country_code,indicator_name,indicator_code,2016
50971,Not classified,INX,GDP (current US$),NY.GDP.MKTP.CD,NaN
51201,Not classified,INX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN
51293,Not classified,INX,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,NaN
51464,Not classified,INX,People using at least basic drinking water ser...,SH.H2O.BASW.ZS,NaN
75732,American Samoa,ASM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN
...,...,...,...,...,...
361446,Tuvalu,TUV,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN
361538,Tuvalu,TUV,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,NaN
374203,"Venezuela, RB",VEN,GDP (current US$),NY.GDP.MKTP.CD,NaN
377411,Virgin Islands (U.S.),VIR,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,NaN
378854,West Bank and Gaza,PSE,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,NaN

In [41]:
missing_values_percountry=new_missing_values.country_name.value_counts()
missing_values_percountry

Not classified               4
Gibraltar                    3
British Virgin Islands       3
Dominica                     3
St. Kitts and Nevis          3
St. Martin (French part)     3
New Caledonia                2
Marshall Islands             2
San Marino                   2
Northern Mariana Islands     2
Tuvalu                       2
Monaco                       2
Turks and Caicos Islands     2
Isle of Man                  2
Cayman Islands               2
Kosovo                       2
Palau                        2
French Polynesia             2
Andorra                      2
Channel Islands              2
American Samoa               2
Nauru                        2
Eritrea                      1
Syrian Arab Republic         1
Guam                         1
Venezuela, RB                1
Faroe Islands                1
Greenland                    1
Liechtenstein                1
Curacao                      1
Puerto Rico                  1
South Sudan                  1
Korea, Dem. People's Rep.    1
Sint Maarten (Dutch part)    1
Macao SAR, China             1
Hong Kong SAR, China         1
Bermuda                      1
West Bank and Gaza           1
Aruba                        1
Virgin Islands (U.S.)        1
Name: country_name, dtype: int64

Since it doesn’t make sense to include in the analysis of the hypothesis a "Not Classified" country, I decided to exclude this data from the data frame. As for the remaining countries in the list above, with 1, 2 or 3 missing values, I decided to leave them in the data frame, since I believe that the remaining cases are sufficient to proceed with the analysis (even after the previously excluded cases).

In [42]:
indexes_todrop3=clean_df2[clean_df2['country_name']=='Not classified'].index.values
print(indexes_todrop3)

[50971 51201 51293 51464]

In [43]:
clean_df3=clean_df2.drop(indexes_todrop3)
clean_df3.head()

,country_name,country_code,indicator_name,indicator_code,2016
466,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,8.547519e+11
696,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,6.278768e+01
788,Africa Eastern and Southern,AFE,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,3.941944e+01
959,Africa Eastern and Southern,AFE,People using at least basic drinking water ser...,SH.H2O.BASW.ZS,5.521221e+01
1909,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,6.874847e+11

<br/>

***

# ``Task 4: Reshape the Data``

To reshape the data and set the indicator codes as the columns and the country codes as the rows, I used the `pivot()` function:

In [44]:
df_pivoted=clean_df3.pivot(index='country_code', columns="indicator_code", values='2016')
df_pivoted.head()

indicator_code,NY.GDP.MKTP.CD,SE.SEC.UNER.LO.ZS,SH.H2O.BASW.ZS,SH.STA.WASH.P5,SP.DYN.LE00.IN
country_code,,,,,
ABW,2.983637e+09,NaN,97.869023,NaN,75.868000
AFE,8.547519e+11,NaN,55.212210,39.419441,62.787681
AFG,1.801775e+10,NaN,64.286484,13.900000,63.763000
AFW,6.874847e+11,NaN,67.108909,58.632192,56.974761
AGO,1.011239e+11,NaN,55.084276,48.800000,59.925000

Then, I examined the dimensions of the new pivoted data:

In [45]:
print(df_pivoted.shape)

(265, 5)

In [46]:
df_pivoted.columns

Index(['NY.GDP.MKTP.CD', 'SE.SEC.UNER.LO.ZS', 'SH.H2O.BASW.ZS',
       'SH.STA.WASH.P5', 'SP.DYN.LE00.IN'],
      dtype='object', name='indicator_code')

I renamed all column names to something more useful:

In [47]:
df_pivoted=df_pivoted.rename(columns={'AG.LND.TOTL.RU.K2': 'Rural_land_area'})
df_pivoted=df_pivoted.rename(columns={'NY.GDP.MKTP.CD': 'GDP'})
df_pivoted=df_pivoted.rename(columns={'SE.SEC.UNER.LO.ZS': 'Education'})
df_pivoted=df_pivoted.rename(columns={'SH.H2O.BASW.ZS': 'H20_services_use'})
df_pivoted=df_pivoted.rename(columns={'SH.STA.WASH.P5': 'Mortality'})
df_pivoted=df_pivoted.rename(columns={'SP.DYN.LE00.IN': 'Life_expectancy'})
df_pivoted.head()

indicator_code,GDP,Education,H20_services_use,Mortality,Life_expectancy
country_code,,,,,
ABW,2.983637e+09,NaN,97.869023,NaN,75.868000
AFE,8.547519e+11,NaN,55.212210,39.419441,62.787681
AFG,1.801775e+10,NaN,64.286484,13.900000,63.763000
AFW,6.874847e+11,NaN,67.108909,58.632192,56.974761
AGO,1.011239e+11,NaN,55.084276,48.800000,59.925000

Finally, I sorted the data by putting higher values for the "H20_services_use" to go first

In [48]:
final_df = df_pivoted.sort_values(by="H20_services_use", ascending=False)
final_df.head()

indicator_code,GDP,Education,H20_services_use,Mortality,Life_expectancy
country_code,,,,,
PLW,2.950654e+08,NaN,100.000004,NaN,NaN
FIN,2.406079e+11,0.86193,100.000002,0.1,81.429268
FRA,2.471286e+12,1.76387,100.000002,0.3,82.573171
SMR,1.468377e+09,NaN,100.000000,NaN,NaN
PYF,NaN,NaN,100.000000,NaN,77.024000

<br/>

***

# ``Task 5: Saving the Results``

In [49]:
final_df.to_csv("data/assignment-01-cleaned.csv", index=False, header=True)